  <header>
    <a href="/html/typequizzing.html">type quizzing</a>
    <a href="/html/scripture-portion.html">scripture portion</a>
    <a href="/html/index.html">home</a>
    <a href="/html/leaderboard.html">leaderboard</a>
  </header>